html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.nav_container {
    display: flex;
    width: 80%;
    background-color: blue;
}

nav.nav_container img {
    width: 120px;
    height: 120px;
}