@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Rubik:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif !important;
}

div.App {
  background-image: url(./assets/wallpaperjpg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

li a {
  text-decoration: none;
}

ul img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

div .navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
}

div.profileUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12vw;
  align-self: flex-end;
}

div.profileUser p {
  color: rgba(0, 0, 0, 0.581);
}

ul {
  justify-content: space-between !important;
  width: 90vw;
}

div .cardsContainer {
  display: flex;
  justify-content: space-around;
}

div .cardInfo {
  margin: 5vh;
  width: 15vw;
  height: 15vh;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.5);
}

div .messagesContainer {
  width: 35vw;
  height: 60vh;
  border: 1px solid rgba(128, 128, 128, 0.194);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

div.message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  height: auto;
  background-color: #269ffb;
  border-radius: 5px;
  margin-bottom: 2rem;
}

div.message span:first-child {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.294);
}

div.message span.bodyMessage {
  min-height: 4rem;
  padding: 0.5rem;
}

div.message span:last-child {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.294);
  font-size: 10px;
  text-align: end;
}

div .newPortfolioContainer {
  display: flex;
  justify-content: space-around;
}

div .photoProject {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
  border-radius: 10px;
}

input.inputPhoto {
  display: none;
}

.labelInput .photo {
  text-align: end;
}

label.labelInput {
  cursor: pointer;
  background-size: 10%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.newProjectContainer, .profileContainer {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.profileContainer {
  flex-direction: column;
}

.profileContainer button {
  align-self: flex-end;
  width: 12rem;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: #658594;
  font-weight: 600;
  transition: 200ms;
}

.profileContainer button:hover {
  transform: scale(102%);
  transition: 200ms;
}

.newProjectContain {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newProjectContain button {
  align-self: flex-end;
  width: 12rem;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: #658594;
  font-weight: 600;
  transition: 200ms;
}

.newProjectContain button:hover {
  transform: scale(102%);
  transition: 200ms;
}

div.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 20rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 69px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 69px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 69px -15px rgba(0,0,0,0.75);
  background-color: whitesmoke;
}

div.typeSign {
  height: 30%;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #0d6dfcbc;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #80808069;
}

.inputsProjectContainer {
  width: 60vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputsProfileContainer {
  width: 60vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: red;
}

.chipsContainer input {
  color: black !important;
}

