@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Rubik:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif !important;
}

div.App {
  background-image: url(./assets/wallpaperjpg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

li a {
  text-decoration: none;
}

ul img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

div .navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
}

div.profileUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12vw;
  align-self: flex-end;
}

div.profileUser p {
  color: rgba(0, 0, 0, 0.581);
}

ul {
  justify-content: space-between !important;
  width: 90vw;
}

div .cardsContainer {
  display: flex;
  justify-content: space-around;
}

div .cardInfo {
  margin: 5vh;
  width: 15vw;
  height: 15vh;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 41px -5px rgba(0,0,0,0.5);
}

div .messagesContainer {
  width: 35vw;
  height: 60vh;
  border: 1px solid rgba(128, 128, 128, 0.194);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

div.message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  height: auto;
  background-color: #269ffb;
  border-radius: 5px;
  margin-bottom: 2rem;
}

div.message span:first-child {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.294);
}

div.message span.bodyMessage {
  min-height: 4rem;
  padding: 0.5rem;
}

div.message span:last-child {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.294);
  font-size: 10px;
  text-align: end;
}

div.newPortfolioContainer {
  width: 100%;
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.newPortfolioContainer div.templateToSelect {
  height: 85vh;
  width: 45vw;
  overflow-y: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 300ms;
}

div.templateToSelect {
  cursor: pointer;
}

div.templateToSelect:hover {
  transform: scale(102%);
  transition: 300ms;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

div.newPortfolioContainer div.templateToSelect::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .35);
  border-radius: 5px;
}

div.newPortfolioContainer div.templateToSelect::-webkit-scrollbar {
  width: 0.3rem;
}

div.photoProject {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.464);
  width: 40vw;
  height: 40vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

div.infoUserProject {
  background-color: rgba(128, 128, 128, 0.529);
  border-radius: 5px;
  padding: 0.5rem;
  width: 50%;
}

div.photoProject span:first-child {
  align-self: flex-end;
  cursor: pointer;
  transition: 200ms;
}

div.photoProject span:first-child:hover {
  transform: scale(107%);
  transition: 200ms;
}

div.photoProject input {
  width: fit-content;
  border: none;
  outline: none;
  color: black;
  margin-top: 0.3rem;
}

input.inputPhoto {
  display: none;
}

.labelInput .photo {
  text-align: end;
}

label.labelInput {
  cursor: pointer;
  background-size: 10%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.newProjectContainer, .profileContainer {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.profileContainer {
  flex-direction: column;
}

.profileContainer div.webPageContainer {
  position: absolute;
  right: 2rem;
  top: 5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.32);
  padding: 0.5rem;
  width: 32rem;
}

div.webPageContainer span.webPage {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.289);
  border-radius: 5px;
  padding: 0.2rem;
  color: gray;
  background-color: whitesmoke;
}

span.webPage span {
  cursor: pointer;
  transition: 200ms;
}

span.webPage span:hover {
  transform: scale(105%);
  transition: 200ms;
}

.profileContainer button {
  align-self: flex-end;
  width: 12rem;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: #658594;
  font-weight: 600;
  transition: 200ms;
}

.profileContainer button:hover {
  transform: scale(102%);
  transition: 200ms;
}

.newProjectContain {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newProjectContain button {
  align-self: flex-end;
  width: 12rem;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: #658594;
  font-weight: 600;
  transition: 200ms;
}

.newProjectContain button:hover {
  transform: scale(102%);
  transition: 200ms;
}

div.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 20rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 69px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 69px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 69px -15px rgba(0,0,0,0.75);
  background-color: whitesmoke;
}

div.typeSign {
  height: 30%;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #0d6dfcbc;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-bottom: 1px solid #80808069;
}

.inputsProjectContainer {
  width: 60vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputsProfileContainer {
  width: 60vw;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chipsContainer input {
  color: black !important;
}

.buttonToast {
  border: none;
  margin-left: 0.3rem;
  padding: 0.1rem;
}

.buttonToast.yes {
  background-color: forestgreen;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 8px;
}

.buttonToast.no {
  background-color: crimson;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 8px;
}

.flickity-viewport {
  width: 100%;
  overflow: hidden;
}

